[Unit]
Description=CryptoFrame
After=network-online.target

[Service]
Type=simple
ExecStart=/root/code/go/bin/cryptoframe
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
